@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

#header_title {
  display: flex;
  justify-content: center;
  font: 5em 'Space Mono', monospace;
  margin: 0.25em;
  color: rgb(0, 255, 217);
}
