@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

#header_title {
  display: flex;
  justify-content: center;
  font: 6em 'Space Mono', monospace;
  margin: 0.25em;
  color: #00ffd9;
}

#header_horizontal_rule {
  height: 0.125em;
  background: #00ffd9;
  border: none;
}
