#general_info_form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.general_info_input {
  width: 15em;
  height: 1.5em;
  border: 1px solid black;
  border-radius: 0.25em;
}

.general_info_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 1.1em 'Poppins', sans-serif;
  color: black;
  font-weight: 300;
  margin: 0.5em;
  width: 21em;
}
