.add_experience_form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em;
}

.add_experience_label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font: 1.1em 'Poppins', sans-serif;
  width: 14em;
  margin: 0 1em;
}

.add_experience_input {
  height: 1.5em;
  border: 1px solid black;
  border-radius: 0.25em;
}
